<configuration>

  <!-- Define the root logger, you can adjust the level to your desired default -->
  <logger name="org.iromu.openfeature.boot.autoconfigure.jsonlogic" level="TRACE">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <!-- Define console appender to output logs to the console -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Optionally, you can define the root logger and other loggers if needed -->
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
